In [75]:
import pandas as pd
from sklearn import preprocessing, model_selection, neighbors

In [76]:
# dfv = pd.read_excel('Downloads/RetailSales Train.xlsx')
dft = pd.read_excel('Downloads/RetailSales Validate.xlsx')

In [77]:
dft.head()

,InvoiceID,Status,ItemID,Description,Quantity,InvoiceDate,Price,CustomerID
0,536380,Delivered,22961,JAM MAKING SET PRINTED,24,2010-12-01 09:41:00,126.15,17809
1,536381,Delivered,22139,RETROSPOT TEA SET CERAMIC 11 PC,23,2010-12-01 09:41:00,369.75,15311
2,536381,Delivered,84854,GIRLY PINK TOOL SET,5,2010-12-01 09:41:00,430.65,15311
3,536381,Delivered,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 09:41:00,169.65,15311
4,536381,Delivered,82567,"AIRLINE LOUNGE,METAL SIGN",2,2010-12-01 09:41:00,182.70,15311

In [78]:
dft = dft[dft['Status']=='Delivered']

In [79]:
dft = dft[dft['ItemID']!='POST']
dft['InvoiceDate'] = dft['InvoiceDate'].apply(pd.to_datetime)

In [80]:
dft['month'] = dft.InvoiceDate.dt.month

In [81]:
dft['date'] = dft.InvoiceDate.dt.day

In [82]:
dft['year'] = dft.InvoiceDate.dt.year
dft['hour'] = dft.InvoiceDate.dt.hour

In [83]:
dft = dft[dft['Quantity']>0]

In [10]:
dft.reset_index()

,index,InvoiceID,Status,ItemID,Description,Quantity,InvoiceDate,Price,CustomerID,month,date,year,hour
0,0,536380,Delivered,22961,JAM MAKING SET PRINTED,24,2010-12-01 09:41:00,126.15,17809,12,1,2010,9
1,1,536381,Delivered,22139,RETROSPOT TEA SET CERAMIC 11 PC,23,2010-12-01 09:41:00,369.75,15311,12,1,2010,9
2,2,536381,Delivered,84854,GIRLY PINK TOOL SET,5,2010-12-01 09:41:00,430.65,15311,12,1,2010,9
3,3,536381,Delivered,22411,JUMBO SHOPPER VINTAGE RED PAISLEY,10,2010-12-01 09:41:00,169.65,15311,12,1,2010,9
4,4,536381,Delivered,82567,"AIRLINE LOUNGE,METAL SIGN",2,2010-12-01 09:41:00,182.70,15311,12,1,2010,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
41256,42148,581580,Delivered,22567,20 DOLLY PEGS RETROSPOT,1,2011-12-09 12:20:00,126.15,12748,12,9,2011,12
41257,42149,581580,Delivered,79321,CHILLI LIGHTS,2,2011-12-09 12:20:00,500.25,12748,12,9,2011,12
41258,42150,581580,Delivered,37500,TEA TIME TEAPOT IN GIFT BOX,1,2011-12-09 12:20:00,430.65,12748,12,9,2011,12
41259,42151,581584,Delivered,20832,RED FLOCK LOVE HEART PHOTO FRAME,72,2011-12-09 12:25:00,62.64,13777,12,9,2011,12
41260,42152,581584,Delivered,85038,6 CHOCOLATE LOVE HEART T-LIGHTS,48,2011-12-09 12:25:00,160.95,13777,12,9,2011,12

In [11]:
dft['hour'].unique()

array([ 9, 11, 13, 14, 15, 16,  8, 10, 12, 17, 18, 19,  7])

In [12]:
def hour_to_factor(x):
    m = 5
#     print(m)
    for i in range(1,m+1):
        if x<i*(24/m):
            return i
    return m

In [13]:
dft['hour'] = dft['hour'].apply(hour_to_factor)

In [14]:
c = 0
item = {}
for i in (dft['ItemID'].unique()):
    item[i] = c
    c+=1
dft['ItemID'] = list(map(lambda x: item[x],dft['ItemID']))
X = dft[['CustomerID']]
y = dft[['hour']]
# X,y?                dft['hour'].loc[i] = j

In [15]:
dft['hour'].unique()

array([2, 3, 4])

In [16]:
import math
import numpy as np
import pandas as pd
from sklearn import preprocessing, model_selection, svm
from sklearn.linear_model import LinearRegression

X = preprocessing.scale(X)
y = np.array(y)

In [17]:
X_train, X_test, y_train, y_test = model_selection.train_test_split(X, y, test_size=0.3)
clf = neighbors.KNeighborsClassifier()
len(X_train)

28882

In [18]:
clf.fit(X_train, y_train)

/home/zeldariomon/.local/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [19]:
confidence = clf.score(X_test, y_test)
# print(X_train,y_train)
# print(X_test,y_test)

In [20]:
confidence

0.8863397689635674